/* .task-panel {
  font-family: 'Arial', sans-serif; 
  font-size: 3px;                
  font-weight: bold;             
}

.task-panel h3 {
  font-size: 8px;
  font-weight: bold;
  margin-bottom: 10px;
}

.task-row span,
.task-row select {
  font-size: 8px;
  font-family: 'Verdana', sans-serif;
}

.task-panel {
  background: yellow !important;
  font-size: 20px !important;
  color: red !important;
}  */
